:root {
  --button-color: rgba(132, 80, 24, 0.752);
}

body {
  background-color: antiquewhite;
}

header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

header button {
  outline: none;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color) ;

}

header button:hover, header button:focus {
  background-color: rgba(132, 80, 24, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > * {
  max-width: 800px;
}

.main-doggy {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 50%;
}

.pic-and-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 48px;
}
